html, body {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;

    font-family: Calibri, Helvetica
}

#header {
    width: 100%;
    height: 78px;
    margin: 0; padding: 0;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

    background: #5ABE73
}

#header #main-logo {
    position: relative;
    left: 10px;
    top: 5px;

}

a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#map-container {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    z-index: 0;
}

#map {
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
}

.content-box {
    display: none;
    margin-top: 85px;
    height: 80%;
    width: 50%;
    max-width: 600px;
    overflow-y: scroll;

    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1000;

    padding: 15px;
    background: white;
}

.content-box h2 {
    border-bottom: 1px solid #5ABE73;
}

.content-life-span {
    float: left;
    clear: none;
}

.birth-date::before {
    content: '*' / "Narozen/a";
}

.death-date::before {
    content: '†' / "Zemřel/a";
}

.content-portrait {
    float: right;
    clear: none;
    max-width: 250px;
    margin-left: 1.5em;

    border: 5px solid #5ABE73;
}

.content-description {
    clear: left;
    padding-top: 1.5em;
}

.content-closer {
    position: absolute;
    left: 5px;
    top: 5px;

    width: 10px;
    height: 10px;
    background: black;
}

#filters {
    display: block;
    z-index: 999;
}

#footer {
    width: 100%;
    height: 20px;
    margin: 0; padding: 0;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;

    outline: 1px solid red;
}

.ol-attribution.ol-logo-only,
.ol-attribution.ol-uncollapsible {
    max-width: calc(100% - 3em) !important;
    height: 1.5em !important;
}

.ol-control button,
.ol-attribution,
.ol-scale-line-inner {
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif !important;
}

.ol-popup {
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif !important;
    font-size: 12px;
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 100px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
    color: #c3c3c3;
}